@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to Chef It Up!
    </h1>

    
    <p>
        Unleash your culinary creativity and find delicious recipes that fit your lifestyle. 
    </p>
    <p>
        Chef It Up makes it easy to explore new dishes, meet your dietary goals, and stay informed about the nutrients in every bite.
    </p>
    <p>
        Whether you're searching for a quick meal, a new favorite recipe, or a health-conscious option, Chef It Up is your go-to guide in the kitchen. 
        Start cooking with confidence, knowing each dish is as nutritious as it is tasty!

    </p>
</div>
